{% extends "page.twig" %}

{% block title %}{{ "settings.title"|trans }}{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>{{ "settings.title"|trans }}</h1>

        {% if app.request.query.get("flash") == "success" %}
            <div class="alert alert-success">{{ "settings.flash.saved"|trans }}</div>
        {% elseif app.request.query.get("flash") == "error" %}
            <div class="alert alert-danger">{{ "settings.flash.error"|trans }}</div>
        {% endif %}

        <form method="post" action="{{ path("settings_save_action") }}" class="mt-3">
            {% for section in groupedSettings %}
                <div class="card my-3">
                    <div class="card-body">
                        <h3 class="card-title text-primary">{{ section.section.label|trans }}</h3>

                        {% for setting in section.options %}
                            {% set isInvalid = app.request.query.get("flash") == "error" and app.request.query.get("option") == setting.name %}
                            <div class="mt-3">
                                {% include "user/settings/type/" ~ setting.type ~ ".twig" %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary">{{ "settings.save.button"|trans }}</button>
        </form>
    </div>
{% endblock %}
