{% extends "page.twig" %}

{% block title %}{{ show.title }} - {{ season.number }}x{{ episode.number }} "{{ episode.title|default("unknown-title"|trans) }}"{% endblock %}

{% block content %}
    <h1><a href="{{ path("showOverviewPage", {"id": show.id}) }}" class="text-reset text-decoration-none">{{ show.title }}</a></h1>

    {% include "components/show-badges.twig" with {"show": show} only %}

    <h2 class="fs-4 text-body-secondary">
        <a href="{{ path("seasonPage", {"id": show.id, "number": season.number}) }}" class="text-reset text-decoration-none">{{ "shows.season"|trans({"%number%": season.number}) }}</a>
        <span>{{ "shows.episode"|trans({"%number%": episode.number}) }}</span>
    </h2>

    <div class="episode-pagination d-flex justify-content-between mt-3 mb-3">
        <span>
            {% if pagination.previousEpisode is not null %}
                <a class="page-link" href="{{ path("episodePage", {"show": show.id, "seasonNumber": pagination.previousEpisode.season.number, "episodeNumber": pagination.previousEpisode.number}) }}"><i class="fa-solid fa-arrow-left"></i> {{ pagination.previousEpisode.season.number }}x{{ pagination.previousEpisode.number }}</a>
            {% endif %}
        </span>
        <span class="justify-content-end">
            {% if pagination.nextEpisode is not null %}
                <a class="page-link" href="{{ path("episodePage", {"show": show.id, "seasonNumber": pagination.nextEpisode.season.number, "episodeNumber": pagination.nextEpisode.number}) }}">{{ pagination.nextEpisode.season.number }}x{{ pagination.nextEpisode.number }} <i class="fa-solid fa-arrow-right"></i></a>
            {% endif %}
        </span>
    </div>

    <div class="row">
        <div class="col-lg-3 col-12">
            <img class="img-fluid rounded fullscreen-image" src="{{ episode.posterImageUrl }}"/>
        </div>

        <div class="col-lg-9 col-12">
            <h2>{{ episode.title|default("unknown-title"|trans) }}</h2>

            {% if episode.runtime is not null %}
                <small class="d-block text-body-secondary"><i class="fa-solid fa-clock"></i> {{ "runtime"|trans({"%runtime%": episode.runtime}) }}</small>
            {% endif %}
            {% if episode.firstAired is not null %}
                <small class="d-block text-body-secondary"><i class="fa-solid fa-tower-cell"></i> {{ episode.firstAired|format_date }}</small>
            {% endif %}
            {% include "components/view.twig" with {"type": "episode", "item": episode} only %}

            <div class="card-text mt-3">{{ episode.plot }}</div>
        </div>
    </div>
{% endblock %}