{% extends "page.twig" %}

{% block title %}{{ "shows.all-shows"|trans }}{% endblock %}

{% block content %}
    <h1>{{ "shows.all-shows"|trans }}</h1>

    {% set hideOptions = hideShows|default("")|split(",") %}
    {% if hideOptions|filter(value => value != "")|length > 0 %}
        <div class="alert alert-info">{{ "shows.some-shows-hidden"|trans }}</div>
    {% endif %}

    <small class="d-block">{{ "shows.count.shows"|trans({"%count%": shows|length}) }}</small>

    {% if is_granted("IS_AUTHENTICATED") %}
        <a href="{{ path("library_add_page", {"type": "show"}) }}" class="btn btn-primary my-3">{{ "shows.add-new"|trans }}</a>
    {% endif %}

    {% if shows %}
        {% include "components/show-list-small.twig" with {"shows": shows} %}
    {% else %}
        <div class="alert alert-warning">{{ "shows.no-shows-available"|trans }}</div>
    {% endif %}
{% endblock %}
