{% extends "page.twig" %}

{% block title %}{{ show.title }}{% endblock %}

{% macro navItem(path, parameters, title) %}
    <li class="nav-item">
        <a class="{{ html_classes("nav-link", {"active": app.request.get("_route") == path}) }}" href="{{ path(path, parameters) }}">{{ title }}</a>
    </li>
{% endmacro %}

{% block content %}
    <h1>{{ show.title }}</h1>

    {% include "components/show-badges.twig" with {"show": show} only %}

    <small class="d-block">{{ "shows.count.seasons"|trans({"%count%": show.seasons|length}) }}</small>
    <small class="d-block">{{ "shows.count.episodes"|trans({"%count%": show.totalEpisodes}) }}</small>

    <ul class="nav nav-underline mb-3">
        {{ _self.navItem("showSeasonsPage", {"show": show.id}, "shows.seasons"|trans) }}
        {{ _self.navItem("randomEpisodesPage", {"show": show.id}, "shows.random-episodes"|trans) }}
        {% if is_granted("IS_AUTHENTICATED") %}
            {{ _self.navItem("mostWatchedEpisodesPage", {"show": show.id}, "shows.most-watched-episodes"|trans) }}
            {{ _self.navItem("leastWatchedEpisodesPage", {"show": show.id}, "shows.least-watched-episodes"|trans) }}
        {% endif %}
    </ul>

    {% block showContent %}{% endblock %}
{% endblock %}