{% extends "page.twig" %}

{% block title %}{{ "shows.all-shows"|trans }}{% endblock %}

{% block content %}
    <h1>{{ "shows.all-shows"|trans }}</h1>

    <small class="d-block">{{ "shows.count.shows"|trans({"%count%": shows|length}) }}</small>

    {% if is_granted("IS_AUTHENTICATED") %}
        <a href="{{ path("addItemsPage", {"type": "show"}) }}" class="btn btn-primary my-3">{{ "shows.add-new"|trans }}</a>
    {% endif %}

    {% if shows %}
        {% include "components/show-list-small.twig" with {"shows": shows} %}
    {% else %}
        <div class="alert alert-warning">{{ "shows.no-shows-available"|trans }}</div>
    {% endif %}
{% endblock %}
