<label for="{{ setting.name }}" class="form-label">{{ setting.label|trans }}</label>
<div class="input-group">
    <input type="number" name="{{ setting.name }}" id="{{ setting.name }}" class="{{ html_classes("form-control", {"is-invalid": isInvalid}) }}" value="{{ setting.value }}" min="{{ setting.min }}" max="{{ setting.max }}"/>
    {% if setting.suffixLabel is not null %}
        <span class="input-group-text">{{ setting.suffixLabel|trans }}</span>
    {% endif %}
</div>
