<label for="{{ setting.name }}" class="form-label">{{ setting.label|trans }}</label>
<div class="d-flex gap-2">
    {% for optionName, optionLabel in setting.options %}
        <div class="form-check">
            <input type="radio" name="{{ setting.name }}" id="{{ setting.name }}_{{ optionName }}" value="{{ optionName }}" class="{{ html_classes("form-check-input", {"is-invalid": isInvalid}) }}" {% if setting.value == optionName %}checked{% endif %}/>
            <label class="form-check-label" for="{{ setting.name }}_{{ optionName }}">{{ optionLabel|trans }}</label>
        </div>
    {% endfor %}
</div>
