{% set assetEntryPoint = "main" %}

{% extends "page.twig" %}

{% block title %}History{% endblock %}

{% block content %}
    {% if entries %}
    <div class="row row-cols-1 row-cols-md-5 g-4">
        {% for entry in entries %}
            {% if entry.type == "episode" %}
                {% set imageUrl = entry.episode.posterImageUrl %}
            {% elseif entry.type == "movie" %}
                {% set imageUrl = entry.movie.posterImageUrl %}
            {% endif %}
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="{{ imageUrl }}"/>
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if entry.type == "episode" %}
                                <b>{{ entry.episode.season.number }}x{{ entry.episode.number }}</b> {{ entry.episode.title }}<br/>
                                <small>{{ entry.episode.season.show.title }}</small><br/>
                            {% elseif entry.type == "movie" %}
                                {{ entry.movie.title }}<br/>
                            {% endif %}
                            <small>{{ entry.datetime|format_datetime }}</small>
                        </h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <div class="alert alert-warning">No history available.</div>
    {% endif %}
{% endblock %}