{% set assetEntryPoint = "main" %}

{% extends "page.twig" %}

{% block title %}History{% endblock %}

{% block content %}
    {% if entries %}
        <div class="row row-cols-1 row-cols-md-5 g-4">
            {% for entry in entries %}
                <div class="col">
                    {% if entry.type == "episode" %}
                        {% set episode = entry.episode %}
                        {% set season = episode.season %}
                        {% set show = season.show %}
                        {% set imageUrl = episode.posterImageUrl %}
                        {% set views = episode.viewsForUser(app.user) %}
                        <div class="d-none" data-entry-type="{{ entry.type }}" data-entry-id="{{ entry.id }}" data-views="{{ views|length }}" data-show="{{ show.id }}" data-season="{{ season.number }}" data-episode="{{ episode.number }}"></div>
                    {% elseif entry.type == "movie" %}
                        {% set movie = entry.movie %}
                        {% set imageUrl = movie.posterImageUrl %}
                        {% set views = movie.viewsForUser(app.user) %}
                        <div class="d-none" data-entry-type="{{ entry.type }}" data-entry-id="{{ entry.id }}" data-views="{{ views|length }}" data-movie="{{ movie.id }}"></div>
                    {% endif %}

                    <div class="card">
                        <img class="card-img-top" src="{{ imageUrl }}"/>
                        <div class="card-body">
                            <h5 class="card-title">
                                {% if entry.type == "episode" %}
                                    <b>{{ season.number }}x{{ episode.number }}</b> {{ episode.title }}<br/>
                                    <small>{{ show.title }}</small><br/>
                                {% elseif entry.type == "movie" %}
                                    {{ movie.title }}<br/>
                                {% endif %}
                                <small>{{ entry.datetime|format_datetime }}</small>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm history-edit-button" type="button" title="{{ views|length }} views"><i class="fa-solid fa-check"></i></button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning">No history available.</div>
    {% endif %}
{% endblock %}

{% block additional_content %}
    <div id="history-edit-tooltip" class="popper">
        <div data-popper-arrow></div>

        <div class="card">
            <div class="card-header">Remove history entries?</div>
            <div class="card-body">
                <button class="btn btn-sm btn-danger" id="history-edit-tooltip-remove-this-view">This view</button>
                <button class="btn btn-sm btn-danger" id="history-edit-tooltip-remove-all-views">All views</button>
                <button class="btn btn-sm btn-secondary" id="history-edit-tooltip-cancel">No</button>
            </div>
        </div>
    </div>
{% endblock %}