{% extends "page.twig" %}

{% block title %}{% endblock %}

{% block content %}
    {% if app.user %}
        <div class="mb-3">
            <h1 class="mb-3">{{ "shows.latest-watched-episodes"|trans }}</h1>

            {% if latestWatchedEpisodes %}
                {% include "components/history-entry-list-small.twig" with {"entries": latestWatchedEpisodes, "user": app.user} %}
            {% else %}
                <div class="alert alert-warning">{{ "shows.no-episodes-available"|trans }}</div>
            {% endif %}
        </div>

        <div class="mb-3">
            <h1 class="mb-3">{{ "movies.latest-watched-movies"|trans }}</h1>

            {% if latestWatchedMovies %}
                {% include "components/history-entry-list-small.twig" with {"entries": latestWatchedMovies, "user": app.user} %}
            {% else %}
                <div class="alert alert-warning">{{ "movies.no-movies-available"|trans }}</div>
            {% endif %}
        </div>

        <div class="mb-3">
            <h1 class="mb-3">{{ "shows.next-episodes"|trans }}</h1>

            {% if nextEpisodes %}
                {% include "components/episode-list-small.twig" with {"episodes": nextEpisodes, "withShowTitle": true} %}
            {% else %}
                <div class="alert alert-warning">{{ "shows.no-episodes-available"|trans }}</div>
            {% endif %}
        </div>
    {% endif %}

    <div class="mb-3">
        <h1 class="my-3">{{ "shows.latest-episodes"|trans }}</h1>

        {% if latestEpisodes %}
            {% include "components/episode-list-small.twig" with {"episodes": latestEpisodes, "withShowTitle": true} %}
        {% else %}
            <div class="alert alert-warning">{{ "shows.no-episodes-available"|trans }}</div>
        {% endif %}
    </div>

    <div class="mb-3">
        <h1 class="mt-3">{{ "movies.latest-movies"|trans }}</h1>

        {% if latestMovies %}
            {% include "components/movie-list-small.twig" with {"movies": latestMovies} %}
        {% else %}
            <div class="alert alert-warning">{{ "movies.no-movies-available"|trans }}</div>
        {% endif %}
    </div>
{% endblock %}
