{% extends "page.twig" %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 col-12">
            <img class="img-fluid rounded" src="{{ movie.posterImageUrl }}"/>
        </div>

        <div class="col-lg-9 col-12">
            <h1>{{ movie.title }}</h1>

            <small class="d-block text-body-secondary">{{ movie.year }}</small>
            {% if is_granted("IS_AUTHENTICATED") %}
                {% set viewsForUser = movie.getViewsForUser(app.user) %}
                {% if viewsForUser|length %}<small class="d-block text-body-secondary"><a class="text-reset text-decoration-none" href="{{ path("userHistoryPage", {"username": app.user.username, "movie": movie.id}) }}"><i class="fa-regular fa-eye"></i> {{ viewsForUser.last.dateTime|format_datetime }} ({% trans with {"%count%": viewsForUser|length} %}views.views{% endtrans %})</a></small>{% endif %}
                <button class="btn btn-secondary btn-sm mt-3 add-view" data-type="movie" data-movie-id="{{ movie.id }}">{{ "views.add-view"|trans }}</button>
            {% endif %}

            <div class="card-text mt-3">{{ movie.plot }}</div>
        </div>
    </div>
{% endblock %}