{% extends "page.twig" %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 col-12">
            <img class="img-fluid rounded fullscreen-image image-poster" loading="lazy" src="{{ path("movies_get_image", {"movie": movie.id}) }}"/>
        </div>

        <div class="col-lg-9 col-12">
            <div class="d-flex justify-content-between align-items-start">
                <div>
                    <h1>{{ movie.title }}</h1>

                    {% if movie.tagline is not null %}
                        <small class="d-block text-body-secondary fst-italic my-2">{{ movie.tagline }}</small>
                    {% endif %}
                </div>

                {% include "components/view-buttons.twig" with {"type": "movie", "item": movie} only %}
            </div>

            <div class="card-text mt-3">{{ movie.plot }}</div>

            <div class="card-text mt-3">
                {% include "components/view-last-watched.twig" with {"type": "movie", "item": movie} only %}
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-lg-3 col-12">
            <h3 class="mb-3">{{ "movies.details.title"|trans }}</h3>

            <div class="vstack gap-2 mx-auto">
                {% if movie.tmdbId %}
                    <a href="https://www.themoviedb.org/movie/{{ movie.tmdbId }}" class="badge text-bg-secondary" target="_blank">TMDB</a>
                {% endif %}
                {% if movie.tvdbId %}
                    <a href="https://www.thetvdb.com/dereferrer/movie/{{ movie.tvdbId }}" class="badge text-bg-secondary" target="_blank">TVDB</a>
                {% endif %}

                {% if movie.runtime %}
                    <small class="d-block text-body-secondary"><i class="fa-solid fa-clock"></i> {{ "runtime"|trans({"%runtime%": movie.runtime}) }}</small>
                {% endif %}

                <small class="d-block text-body-secondary"><i class="fa-solid fa-calendar"></i> {{ movie.year }}</small>
            </div>
        </div>

        <div class="col-lg-9 col-12">
            {% if movie.movieSet %}
                <h3 class="mb-3"><a href="{{ path("moviesets_single_page", {"movieSet": movie.movieSet.id}) }}" class="text-reset text-decoration-none">{{ movie.movieSet.title }}</a></h3>

                <div class="overflow-x-auto d-flex flex-nowrap gap-3 pb-3" id="movie-set">
                    {% for thisMovie in movie.movieSet.movies %}
                        {% include "components/movie-card-small.twig" with {"movie": thisMovie, "showWatchStats": false} %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
