{% extends "page.twig" %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 col-12">
            <img class="img-fluid rounded fullscreen-image" src="{{ movie.posterImageUrl }}"/>
        </div>

        <div class="col-lg-9 col-12">
            <h1>{{ movie.title }}</h1>

            <div class="my-2">
                {% if movie.tmdbId %}
                    <a href="https://www.themoviedb.org/movie/{{ movie.tmdbId }}" class="badge text-bg-secondary" target="_blank">TMDB</a>
                {% endif %}
                {% if movie.tvdbId %}
                    <a href="https://www.thetvdb.com/dereferrer/movie/{{ movie.tvdbId }}" class="badge text-bg-secondary" target="_blank">TVDB</a>
                {% endif %}
            </div>

            {% if movie.runtime is not null %}
                <small class="d-block text-body-secondary"><i class="fa-solid fa-clock"></i> {{ "runtime"|trans({"%runtime%": movie.runtime}) }}</small>
            {% endif %}

            <small class="d-block text-body-secondary">{{ movie.year }}</small>
            {% include "components/view.twig" with {"type": "movie", "item": movie} only %}

            <div class="card-text mt-3">{{ movie.plot }}</div>
        </div>
    </div>
{% endblock %}