<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        {% set pageTitle = block("title") %}
        <title>{% if pageTitle is not empty %}{{ pageTitle }} - {% endif %}Tracky</title>

        <link rel="icon" type="image/x-icon" href="{{ asset("favicon.svg") }}"/>
        <link rel="stylesheet" href="{{ asset("styles.css") }}"/>
        <script src="{{ asset("vendor.js") }}"></script>
        <script src="{{ asset("#{assetEntryPoint}.js") }}"></script>
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top">
            <div class="container-fluid px-3 py-2 d-flex justify-content-md-between">
                <a class="navbar-brand" href="/"><b class="d-none d-lg-inline-block">Tracky</b></a>

                <div class="navbar-collapse collapse d-md-flex">
                    <ul class="navbar-nav me-auto mb-md-0">
                        <li class="nav-item"><a class="nav-link" href="{{ path("showsPage") }}">Shows</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path("moviesPage") }}">Movies</a></li>
                    </ul>

                    <div class="navbar-nav ms-auto mb-md-0">
                        <form action="{{ path("searchPage") }}" method="get" role="search">
                            <input class="form-control" type="search" name="query" placeholder="Search for shows, episodes and movies"/>
                        </form>

                        {% if app.user %}
                            <div class="nav-item dropdown">
                                <button class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{{ app.user.username }}</button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="{{ path("profilePage", {"username": app.user.username}) }}">Profile</a></li>
                                    <li><a class="dropdown-item" href="{{ path("userHistoryPage", {"username": app.user.username}) }}">History</a></li>
                                    <li><a class="dropdown-item" href="{{ path("userShowProgressPage", {"username": app.user.username}) }}">TV show progress</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{{ path("logout") }}">Logout</a></li>
                                </ul>
                            </div>
                        {% else %}
                            <a class="nav-link" href="{{ path("loginPage") }}">Login</a>
                        {% endif %}
                    </div>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"><span class="navbar-toggler-icon"></span></button>
            </div>
        </nav>

        <main class="container mt-3">
            {% block content %}{% endblock %}
        </main>

        {% block additional_content %}{% endblock %}
    </body>
</html>