{% macro navItem(icon_classes, path, title, route_starts_with = null, parameters = {}) %}
    {% if route_starts_with != null and app.request.attributes.get("_route") starts with route_starts_with %}
        {% set active = true %}
    {% elseif app.request.attributes.get("_route") == path %}
        {% set active = true %}
    {% else %}
        {% set active = false %}
    {% endif %}
    <li class="nav-item">
        <a class="{{ html_classes("nav-link", {"active": active}) }}" href="{{ path(path, parameters) }}"><i class="{{ icon_classes }}"></i> {{ title }}</a>
    </li>
{% endmacro %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        {% set pageTitle = block("title") %}
        <title>{% if pageTitle is not empty %}{{ pageTitle|raw }} - {% endif %}Tracky</title>

        <link rel="icon" type="image/x-icon" href="{{ asset("app-icon.svg") }}"/>
        <link rel="stylesheet" href="{{ asset("styles.css") }}"/>
        <script src="{{ asset("vendor.js") }}"></script>
        <script src="{{ asset("main.js") }}"></script>
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark sticky-top px-3">
            <div class="d-flex align-items-center gap-2">
                <button class="btn d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"><span class="navbar-toggler-icon"></span></button>

                <a class="navbar-brand d-none d-lg-flex align-items-center gap-2" href="/">
                    <img src="{{ asset("app-icon.svg") }}" height="28" class="d-inline-block align-text-top"/>
                    <span class="fw-bold">Tracky</span>
                </a>
            </div>

            <div class="d-flex flex-grow-1 justify-content-center">
                {% include "components/search-bar.twig" %}
            </div>
        </nav>

        <div class="app-layout">
            <div class="sidebar p-3 d-flex flex-column" id="sidebar">
                <div class="d-lg-none mb-2 px-3">
                    <a class="text-white text-decoration-none gap-2 fs-3" href="/">
                        <img src="{{ asset("app-icon.svg") }}" height="28" class="d-inline-block align-text-top"/>
                        <span class="fw-bold">Tracky</span>
                    </a>
                </div>

                <div class="flex-grow-1 overflow-y-auto">
                    <ul class="nav nav-pills flex-column mb-auto">
                        {{ _self.navItem(icon_classes: "fa-solid fa-tv", path: "shows_page", route_starts_with: "shows_", title: "navbar.shows"|trans) }}
                        {{ _self.navItem(icon_classes: "fa-solid fa-film", path: "movies_page", route_starts_with: "movies_", title: "navbar.movies"|trans) }}
                        {% if is_granted("IS_AUTHENTICATED") %}
                            {{ _self.navItem(icon_classes: "fa-solid fa-wrench", path: "library_management_page", route_starts_with: "library_", title: "library-management.title"|trans) }}
                        {% endif %}
                    </ul>

                    {% if app.user %}
                        <hr/>

                        {% set profile_page_parameters = {"username": app.user.username} %}

                        <ul class="nav nav-pills flex-column mb-auto">
                            {{ _self.navItem(icon_classes: "fa-solid fa-user", path: "user_profile_page", parameters: profile_page_parameters, title: "user.profile"|trans) }}
                            {{ _self.navItem(icon_classes: "fa-solid fa-calendar-days", path: "user_profile_history_page", parameters: profile_page_parameters, title: "user.history"|trans) }}
                            {{ _self.navItem(icon_classes: "fa-solid fa-bars-progress", path: "user_profile_show_progress_page", parameters: profile_page_parameters, title: "user.show-progress"|trans) }}
                        </ul>
                    {% endif %}
                </div>

                <div>
                    <ul class="nav nav-pills flex-column mb-auto">
                        {% if app.user %}
                            <li class="nav-item"><a class="nav-link"><i class="fa-solid fa-gear"></i> Settings</a></li>
                            {{ _self.navItem(icon_classes: "fa-solid fa-arrow-right-from-bracket", path: "logout", title: "user.logout"|trans) }}
                        {% else %}
                            {{ _self.navItem(icon_classes: "fa-solid fa-arrow-right-to-bracket", path: "login_page", title: "user.login"|trans) }}
                        {% endif %}

                        {{ _self.navItem(icon_classes: "fa-solid fa-circle-info", path: "about_page", title: "about.navbar-text"|trans) }}
                    </ul>
                </div>
            </div>

            <main class="content w-100">
                <div class="container my-3">
                    {% block content %}{% endblock %}
                </div>
            </main>
        </div>

        {% include "components/image-modal.twig" %}

        <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toast-container"></div>

        <div id="history-edit-tooltip" class="popper">
            <div data-popper-arrow></div>

            <div class="card">
                <div class="card-header">{{ "views.remove.header"|trans }}</div>
                <div class="card-body">
                    <button class="btn btn-sm btn-danger" id="history-edit-tooltip-remove-this-view">{{ "views.remove.this-view"|trans }}</button>
                    <button class="btn btn-sm btn-danger" id="history-edit-tooltip-remove-all-views">{{ "views.remove.all-views"|trans }}</button>
                    <button class="btn btn-sm btn-secondary" id="history-edit-tooltip-cancel">{{ "views.remove.cancel"|trans }}</button>
                </div>
            </div>
        </div>

        <div id="add-view-tooltip" class="popper">
            <div data-popper-arrow></div>

            <div class="card">
                <div class="card-header">{{ "views.add.header"|trans }}</div>
                <form class="card-body form" id="add-view-tooltip-form">
                    <div class="input-group mb-3">
                        <input class="form-control" type="datetime-local" id="add-view-tooltip-datetime" required/>
                        <button class="btn btn-sm btn-secondary" id="add-view-tooltip-now" type="button">{{ "views.add.now"|trans }}</button>
                    </div>
                    <div>
                        <button class="btn btn-sm btn-primary" type="submit">{{ "views.add.ok"|trans }}</button>
                        <button class="btn btn-sm btn-secondary" id="add-view-tooltip-cancel" type="button">{{ "views.add.cancel"|trans }}</button>
                    </div>
                </form>
            </div>
        </div>

        {% block additional_content %}{% endblock %}

        <datalist id="translations">
            {% for key in translations|default([]) %}
                <option value="{{ key }}">{{ key|trans }}</option>
            {% endfor %}
        </datalist>
    </body>
</html>
