<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        {% set pageTitle = block("title") %}
        <title>{% if pageTitle is not empty %}{{ pageTitle }} - {% endif %}Tracky</title>

        <link rel="icon" type="image/x-icon" href="{{ asset("favicon.svg") }}"/>
        <link rel="stylesheet" href="{{ asset("styles.css") }}"/>
        <script src="{{ asset("vendor.js") }}"></script>
        <script src="{{ asset("main.js") }}"></script>
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top">
            <div class="container-fluid px-3 py-2 d-flex justify-content-md-between">
                <a class="navbar-brand" href="/"><b>Tracky</b></a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"><span class="navbar-toggler-icon"></span></button>

                <div class="navbar-collapse collapse d-md-flex">
                    <ul class="navbar-nav me-auto mb-md-0">
                        <li class="nav-item"><a class="nav-link" href="{{ path("showsPage") }}">{{ "navbar.shows"|trans }}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path("moviesPage") }}">{{ "navbar.movies"|trans }}</a></li>
                        {% if is_granted("IS_AUTHENTICATED") %}
                            <li class="nav-item"><a class="nav-link" href="{{ path("libraryManagementPage") }}">{{ "library-management.title"|trans }}</a></li>
                        {% endif %}
                    </ul>

                    <div class="navbar-nav ms-auto mb-md-0">
                        <form action="{{ path("searchPage") }}" method="get" role="search">
                            <input class="form-control" type="search" name="query" placeholder="{{ "search.placeholder"|trans }}"/>
                        </form>

                        {% if app.user %}
                            <div class="nav-item dropdown">
                                <button class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{{ app.user.username }}</button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="{{ path("profilePage", {"username": app.user.username}) }}">{{ "user.profile"|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path("userHistoryPage", {"username": app.user.username}) }}">{{ "user.history"|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path("userShowProgressPage", {"username": app.user.username}) }}">{{ "user.show-progress"|trans }}</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{{ path("logout") }}">{{ "user.logout"|trans }}</a></li>
                                </ul>
                            </div>
                        {% else %}
                            <a class="nav-link" href="{{ path("loginPage") }}">{{ "user.login"|trans }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>

        <main class="container my-3">
            {% block content %}{% endblock %}
        </main>

        {% include "components/image-modal.twig" %}

        <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toast-container"></div>

        <div id="history-edit-tooltip" class="popper">
            <div data-popper-arrow></div>

            <div class="card">
                <div class="card-header">{{ "views.remove.header"|trans }}</div>
                <div class="card-body">
                    <button class="btn btn-sm btn-danger" id="history-edit-tooltip-remove-this-view">{{ "views.remove.this-view"|trans }}</button>
                    <button class="btn btn-sm btn-danger" id="history-edit-tooltip-remove-all-views">{{ "views.remove.all-views"|trans }}</button>
                    <button class="btn btn-sm btn-secondary" id="history-edit-tooltip-cancel">{{ "views.remove.cancel"|trans }}</button>
                </div>
            </div>
        </div>

        <div id="add-view-tooltip" class="popper">
            <div data-popper-arrow></div>

            <div class="card">
                <div class="card-header">{{ "views.add.header"|trans }}</div>
                <form class="card-body form" id="add-view-tooltip-form">
                    <div class="input-group mb-3">
                        <input class="form-control" type="datetime-local" id="add-view-tooltip-datetime" required/>
                        <button class="btn btn-sm btn-secondary" id="add-view-tooltip-now" type="button">{{ "views.add.now"|trans }}</button>
                    </div>
                    <div>
                        <button class="btn btn-sm btn-primary" type="submit">{{ "views.add.ok"|trans }}</button>
                        <button class="btn btn-sm btn-secondary" id="add-view-tooltip-cancel" type="button">{{ "views.add.cancel"|trans }}</button>
                    </div>
                </form>
            </div>
        </div>

        {% block additional_content %}{% endblock %}

        <datalist id="translations">
            {% for key in translations|default([]) %}
                <option value="{{ key }}">{{ key|trans }}</option>
            {% endfor %}
        </datalist>
    </body>
</html>