{% extends "page.twig" %}

{% block title %}{{ "search.title"|trans }}{% endblock %}

{% block content %}
    <form method="get" role="search">
        <input class="form-control" type="search" name="query" value="{{ query }}" placeholder="{{ "search.placeholder"|trans }}"/>
    </form>

    {% if results is not null %}
        {% if results %}
            <div class="row row-cols-1 row-cols-md-5 g-4 mt-1">
                {% for entry in results %}
                    {% if entry.className == "Episode" %}
                        {% set imageUrl = path("getEpisodeImage", {"show": entry.season.show.id, "seasonNumber": entry.season.number, "episodeNumber": entry.number}) %}
                    {% elseif entry.className == "Movie" %}
                        {% set imageUrl = path("getMovieImage", {"movie": entry.id}) %}
                    {% elseif entry.className == "Show" %}
                        {% set imageUrl = path("getShowImage", {"show": entry.id}) %}
                    {% endif %}
                    <div class="col">
                        <div class="card">
                            <img class="card-img-top fullscreen-image" loading="lazy" src="{{ imageUrl }}"/>
                            <div class="card-body">
                                {% if entry.className == "Episode" %}
                                    <h5 class="card-title"><a class="text-reset text-decoration-none" href="{{ path("episodePage", {"show": entry.season.show.id, "seasonNumber": entry.season.number, "episodeNumber": entry.number}) }}"><b>{{ entry.season.number }}x{{ entry.number }}</b> {{ entry.title }}</a></h5>
                                    <div><a class="text-reset text-decoration-none" href="{{ path("showOverviewPage", {"show": entry.season.show.id}) }}">{{ entry.season.show.title }}</a></div>
                                {% elseif entry.className == "Movie" %}
                                    <h5 class="card-title"><a class="text-reset text-decoration-none" href="{{ path("moviePage", {"movie": entry.id}) }}">{{ entry.title }}</a></h5>
                                {% elseif entry.className == "Show" %}
                                    <h5 class="card-title"><a class="text-reset text-decoration-none" href="{{ path("showOverviewPage", {"show": entry.id}) }}">{{ entry.title }}</a></h5>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-warning mt-3">{{ "search.no-results"|trans({"%query%": query}) }}</div>
        {% endif %}
    {% endif %}
{% endblock %}
