{% extends "page.twig" %}

{% block title %}{{ "search.title"|trans }}{% endblock %}

{% block content %}
    {% if results is not null %}
        {% if results %}
            {% for type, type_results in results %}
                {% if type_results %}
                    <div class="mt-3">
                        <h3 data-bs-toggle="collapse" data-bs-target="#searchresults-{{ type }}">{{ ("search.types." ~ type)|trans }} ({{ type_results|length }}) <i class="fa-solid fa-chevron-up collapse-icon"></i></h3>
                        <div class="collapse show mt-3" id="searchresults-{{ type }}">
                            {% if type == "shows" %}
                                {% include "components/show-list-small.twig" with {"shows": type_results} %}
                            {% elseif type == "episodes" %}
                                {% include "components/episode-list-small.twig" with {"episodes": type_results} only %}
                            {% elseif type == "movies" %}
                                {% include "components/movie-list-small.twig" with {"movies": type_results} %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="alert alert-warning mt-3">{{ "search.no-results"|trans({"%query%": app.request.query.get("query") }) }}</div>
        {% endif %}
    {% endif %}
{% endblock %}
