{% set assetEntryPoint = "main" %}

{% extends "page.twig" %}

{% block title %}{{ show.title }} - Season {{ season.number }}{% endblock %}

{% macro paginationElement(pagination, show) %}
    <div class="episode-pagination d-flex justify-content-between mt-3 mb-3">
        <span>
            {% if pagination.previousSeason is not null %}
                <a class="page-link" href="{{ path("seasonPage", {"id": show.id, "number": pagination.previousSeason.number}) }}"><i class="fa-solid fa-arrow-left"></i> Season {{ pagination.previousSeason.number }}</a>
            {% endif %}
        </span>
        <span class="justify-content-end">
            {% if pagination.nextSeason is not null %}
                <a class="page-link" href="{{ path("seasonPage", {"id": show.id, "number": pagination.nextSeason.number}) }}">Season {{ pagination.nextSeason.number }} <i class="fa-solid fa-arrow-right"></i></a>
            {% endif %}
        </span>
    </div>
{% endmacro %}

{% block content %}
    <h1>
        <a href="{{ path("showOverviewPage", {"id": show.id}) }}" class="text-reset text-decoration-none">{{ show.title }}</a><br/>
        <span class="fs-4 text-body-secondary">Season {{ season.number }}</span>
    </h1>

    {{ _self.paginationElement(pagination, show) }}

    <h2>Episodes</h2>

    {% if season.episodes %}
        <div class="row row-cols-1 g-4">
            {% for episode in season.episodes %}
                <div class="col">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img class="img-fluid rounded-start" src="{{ episode.posterImageUrl }}"/>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a class="text-reset text-decoration-none" href="{{ path("episodePage", {"show": episode.season.show.id, "seasonNumber": episode.season.number, "episodeNumber": episode.number}) }}">{{ episode.title }}</a></h5>
                                    <h6 class="card-subtitle text-body-secondary">Episode {{ episode.season.number }}x{{ episode.number }}</h6>
                                    <div class="card-text mt-3">
                                        <small class="d-block text-body-secondary"><i class="fa-solid fa-tower-cell"></i> {{ episode.firstAired|format_date }}</small>
                                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                            {% set viewsForUser = episode.getViewsForUser(app.user) %}
                                            {% if viewsForUser|length %}<a class="d-block text-body-secondary" href="{{ path("userHistoryPage", {"username": app.user.username, "episode": episode.id}) }}"><i class="fa-regular fa-eye"></i> {{ viewsForUser.last.dateTime|format_datetime }} ({{ viewsForUser|length }} plays)</a>{% endif %}
                                            <button class="btn btn-secondary btn-sm mt-3 add-episode-view" data-show-id="{{ episode.season.show.id }}" data-season="{{ episode.season.number }}" data-episode="{{ episode.number }}">Add view</button>
                                        {% endif %}
                                    </div>
                                    <div class="card-text mt-3">{{ episode.plot }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning">No episodes available.</div>
    {% endif %}

    {{ _self.paginationElement(pagination, show) }}
{% endblock %}