<div class="card">
    <div class="row g-0">
        <div class="col-md-4 scaled-image" style="background-image: url({{ episode.posterImageUrl }});"></div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><a class="text-reset text-decoration-none" href="{{ path("episodePage", {"show": episode.season.show.id, "seasonNumber": episode.season.number, "episodeNumber": episode.number}) }}">{{ episode.title }}</a></h5>
                <h6 class="card-subtitle text-body-secondary">Episode {{ episode.season.number }}x{{ episode.number }}</h6>
                <div class="card-text mt-3">
                    <small class="d-block text-body-secondary"><i class="fa-solid fa-tower-cell"></i> {{ episode.firstAired|format_date }}</small>
                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                        {% set viewsForUser = episode.getViewsForUser(app.user) %}
                        {% if viewsForUser|length %}<small class="d-block text-body-secondary"><a class="text-reset text-decoration-none" href="{{ path("userHistoryPage", {"username": app.user.username, "episode": episode.id}) }}"><i class="fa-regular fa-eye"></i> {{ viewsForUser.last.dateTime|format_datetime }} ({{ viewsForUser|length }} plays)</a></small>{% endif %}
                        <button class="btn btn-secondary btn-sm mt-3 add-view" data-type="episode" data-show-id="{{ episode.season.show.id }}" data-season="{{ episode.season.number }}" data-episode="{{ episode.number }}">Add view</button>
                    {% endif %}
                </div>
                <div class="card-text mt-3">{{ episode.plot }}</div>
            </div>
        </div>
    </div>
</div>