{# Note: entry is of type HistoryEntry #}
{% set metadata = {"entry-type": entry.view.type.value, "entry-id": entry.view.id, "views": entry.viewCount} %}

{% if entry.view.type.value == "episode" %}
    {% set episode = entry.item %}
    {% set season = episode.season %}
    {% set show = season.show %}
    {% set linkUrl = path("shows_season_page", {"show": show.id, "number": season.number}) ~ "#e" ~ episode.number %}
    {% set imageUrl = path("shows_episode_image", {"show": show.id, "seasonNumber": season.number, "episodeNumber": episode.number}) %}
    {% set imageType = "wide" %}
    {% set metadata = metadata|merge({"show": show.id, "season": season.number, "episode": episode.number}) %}
{% elseif entry.view.type.value == "movie" %}
    {% set movie = entry.item %}
    {% set linkUrl = path("movies_single_page", {"movie": movie.id}) %}
    {% set imageUrl = path("movies_get_image", {"movie": movie.id}) %}
    {% set imageType = "poster" %}
    {% set metadata = metadata|merge({"movie": movie.id}) %}
{% endif %}

<div class="d-none" {% for key, value in metadata %} data-{{ key }}="{{ value }}"{% endfor %}></div>

<div class="card">
    <a href="{{ linkUrl }}">
        <img class="card-img-top rounded-top image-{{ imageType }}" loading="lazy" src="{{ imageUrl }}"/>
    </a>
    <div class="card-body">
        {% if entry.view.type.value == "episode" %}
            <h5 class="card-title text-truncate" title="{{ season.number }}x{{ episode.number }} {{ episode.title|default("unknown-title"|trans) }}"><a class="text-reset text-decoration-none" href="{{ linkUrl }}"><b>{{ season.number }}x{{ episode.number }}</b> {{ episode.title|default("unknown-title"|trans) }}</a></h5>
            <div class="text-truncate" title="{{ show.title }}"><a class="text-reset text-decoration-none" href="{{ path("shows_show_page", {"show": show.id}) }}">{{ show.title }}</a></div>
        {% elseif entry.view.type.value == "movie" %}
            <h5 class="card-title text-truncate" title="{{ movie.title }}"><a class="text-reset text-decoration-none" href="{{ linkUrl }}">{{ movie.title }}</a></h5>
        {% endif %}
        <div class="text-body-secondary">{{ entry.view.datetime|format_datetime }}</div>
    </div>
    {% if entry.view.user == app.user %}
        <div class="card-footer">
            <button class="btn btn-sm history-edit-button" type="button" title="{{ "views.views"|trans({"%count%": entry.viewCount}) }}"><i class="fa-solid fa-check"></i></button>
        </div>
    {% endif %}
</div>
