{% set metadata = {"entry-type": entry.type, "entry-id": entry.id} %}

{% if entry.type == "episode" %}
    {% set episode = entry.episode %}
    {% set season = episode.season %}
    {% set show = season.show %}
    {% set imageUrl = path("getEpisodeImage", {"show": show.id, "seasonNumber": season.number, "episodeNumber": episode.number}) %}
    {% set views = episode.viewsForUser(user) %}
    {% set metadata = metadata|merge({"views": views|length, "show": show.id, "season": season.number, "episode": episode.number}) %}
{% elseif entry.type == "movie" %}
    {% set movie = entry.movie %}
    {% set imageUrl = path("getMovieImage", {"movie": movie.id}) %}
    {% set views = movie.viewsForUser(user) %}
    {% set metadata = metadata|merge({"views": views|length, "movie": movie.id}) %}
{% endif %}

<div class="d-none" {% for key, value in metadata %} data-{{ key }}="{{ value }}"{% endfor %}></div>

<div class="card">
    <img class="card-img-top fullscreen-image" src="{{ imageUrl }}"/>
    <div class="card-body">
        {% if entry.type == "episode" %}
            <h5 class="card-title"><a class="text-reset text-decoration-none" href="{{ path("episodePage", {"show": show.id, "seasonNumber": season.number, "episodeNumber": episode.number}) }}"><b>{{ season.number }}x{{ episode.number }}</b> {{ episode.title|default("unknown-title"|trans) }}</a></h5>
            <div><a class="text-reset text-decoration-none" href="{{ path("showOverviewPage", {"show": show.id}) }}">{{ show.title }}</a></div>
        {% elseif entry.type == "movie" %}
            <h5 class="card-title"><a class="text-reset text-decoration-none" href="{{ path("moviePage", {"movie": movie.id}) }}">{{ movie.title }}</a></h5>
        {% endif %}
        <div class="text-body-secondary">{{ entry.datetime|format_datetime }}</div>
    </div>
    <div class="card-footer">
        <button class="btn btn-sm history-edit-button" type="button" title="{{ "views.views"|trans({"%count%": views|length}) }}"><i class="fa-solid fa-check"></i></button>
    </div>
</div>