{% set linkUrl = path("movies_single_page", {"movie": movie.id}) %}
<div class="card">
    <a href="{{ linkUrl }}">
        <img class="card-img-top" loading="lazy" src="{{ path("movies_get_image", {"movie": movie.id}) }}"/>
    </a>
    <div class="card-body">
        <h5 class="card-title text-truncate" title="{{ movie.title }}">
            <a href="{{ linkUrl }}" class="text-reset text-decoration-none">{{ movie.title }}</a>
        </h5>

        {% if movie.runtime is not null %}
            <small class="d-block text-body-secondary"><i class="fa-solid fa-clock"></i> {{ "runtime"|trans({"%runtime%": movie.runtime}) }}</small>
        {% endif %}

        <small class="d-block text-body-secondary"><i class="fa-solid fa-calendar"></i> {{ movie.year }}</small>

        {% if watchStats %}
            {% set itemWatchStats = watchStatsProvider.getItemStats(movie) %}
            {% if itemWatchStats %}
                <small class="d-block text-body-secondary"><i class="fa-regular fa-eye"></i> {{ "views.views"|trans({"%count%": itemWatchStats.count}) }}</small>
                <small class="d-block text-body-secondary"><i class="fa-regular fa-eye"></i> {{ itemWatchStats.lastWatched|format_datetime }}</small>
            {% endif %}
        {% endif %}
    </div>
</div>
