<a class="card text-reset text-decoration-none" href="{{ path("moviePage", {"movie": movie.id}) }}">
    <img class="card-img-top" loading="lazy" src="{{ path("getMovieImage", {"movie": movie.id}) }}"/>
    <div class="card-body">
        <h5 class="card-title">{{ movie.title }}</h5>

        {% if movie.runtime is not null %}
            <small class="d-block text-body-secondary"><i class="fa-solid fa-clock"></i> {{ "runtime"|trans({"%runtime%": movie.runtime}) }}</small>
        {% endif %}

        <small class="d-block text-body-secondary"><i class="fa-solid fa-calendar"></i> {{ movie.year }}</small>

        {% if is_granted("IS_AUTHENTICATED") %}
            {% set viewsForUser = movie.getViewsForUser(app.user) %}
            {% if viewsForUser|length %}
                <small class="d-block text-body-secondary"><i class="fa-regular fa-eye"></i> {{ "views.views"|trans({"%count%": viewsForUser|length}) }}</small>
                <small class="d-block text-body-secondary"><i class="fa-regular fa-eye"></i> {{ viewsForUser.last.dateTime|format_datetime }}</small>
            {% endif %}
        {% endif %}
    </div>
</a>
