{% set linkUrl = path("movies_single_page", {"movie": movie.id}) %}
<div class="card">
    <div class="row g-0">
        <a class="col-md-4" href="{{ linkUrl }}">
            <img class="rounded-start img-fluid h-100 object-fit-cover image-poster" loading="lazy" src="{{ path("movies_get_image", {"movie": movie.id}) }}"/>
        </a>
        <div class="col-md-8">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-start">
                    <div>
                        <h5 class="card-title fw-bold"><a class="text-reset text-decoration-none" href="{{ linkUrl }}">{{ movie.title }}</a></h5>
                        {% if movie.tagline is not null %}
                            <small class="d-block text-body-secondary fst-italic my-2">{{ movie.tagline }}</small>
                        {% endif %}

                        <small class="card-subtitle text-body-secondary">
                            {% if movie.runtime is not null %}
                                <span>{{ "runtime"|trans({"%runtime%": movie.runtime}) }}</span> •
                            {% endif %}

                            <span>{{ movie.year }}</span>
                        </small>
                    </div>

                    {% include "components/view-buttons.twig" with {"type": "movie", "item": movie} only %}
                </div>

                <div class="card-text mt-3">{{ movie.plot }}</div>

                <div class="card-text mt-3">
                    {% include "components/view-last-watched.twig" with {"type": "movie", "item": movie} only %}
                </div>
            </div>
        </div>
    </div>
    <div class="progress rounded-top-0 position-relative">
        <div class="progress-bar bg-success" style="width: {{ progress.percent }}%;"></div>
        <div class="progress-text">{{ progress.percent }}% - {{ progress.time|duration }}/{{ duration|duration }}</div>
    </div>
</div>
