{% set linkUrl = path("shows_season_page", {"show": episode.season.show.id, "number": episode.season.number}) ~ "#e" ~ episode.number %}
<div class="card">
    <div class="row g-0">
        <a class="col-md-4" href="{{ linkUrl }}">
            <img class="rounded-start img-fluid h-100 object-fit-cover image-wide" loading="lazy" src="{{ path("shows_episode_image", {"show": episode.season.show.id, "seasonNumber": episode.season.number, "episodeNumber": episode.number}) }}"/>
        </a>
        <div class="col-md-8">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-start">
                    <div>
                        <h5 class="card-title fw-bold"><a class="text-reset text-decoration-none" href="{{ linkUrl }}">{{ episode.title|default("unknown-title"|trans) }}</a></h5>
                        <small class="card-subtitle text-body-secondary">
                            {{ "shows.episode"|trans({"%number%": episode.number}) }}
                            {% if episode.firstAired is not null %}
                                • <span>{{ episode.firstAired|format_date }}</span>
                            {% endif %}
                            {% if episode.runtime %}
                                • <span>{{ "runtime"|trans({"%runtime%": episode.runtime}) }}</span>
                            {% endif %}
                        </small>
                    </div>

                    {% include "components/view-buttons.twig" with {"type": "episode", "item": episode} only %}
                </div>

                <div class="card-text mt-3 card-plot">{{ episode.plot }}</div>

                <div class="card-text mt-3">
                    {% include "components/view-last-watched.twig" with {"type": "episode", "item": episode} only %}
                </div>
            </div>
        </div>
    </div>
    <div class="progress rounded-top-0 position-relative">
        <div class="progress-bar bg-success" style="width: {{ progress.percent }}%;"></div>
        <div class="progress-text">{{ progress.percent }}% - {{ progress.time|duration }}/{{ duration|duration }}</div>
    </div>
</div>
