{% set linkUrl = path("shows_season_page", {"show": season.show.id, "number": season.number}) %}
<div class="card">
    <a href="{{ linkUrl }}">
        <img class="card-img-top rounded-top image-poster" loading="lazy" src="{{ path("shows_season_image", {"show": season.show.id, "seasonNumber": season.number}) }}"/>
    </a>
    <div class="card-body">
        <div class="card-title">
            <h5>
                <a href="{{ linkUrl }}" class="text-reset text-decoration-none">{{ "shows.season"|trans({"%number%": season.number }) }}</a>
            </h5>
            <small class="d-block text-body-secondary my-1">{{ season.year }}</small>
        </div>
        <small class="d-block">{{ "shows.count.episodes"|trans({"%count%": season.episodes|length}) }}</small>
        <small class="d-block"><i class="fa-solid fa-clock"></i> {{ "runtime"|trans({"%runtime%": season.totalRuntime}) }}</small>
    </div>

    {% if app.user %}
        {% set watchProgress = season.getWatchProgress(watchStatsProvider) %}
        <div class="progress rounded-top-0 season-card-progress" title="{{ watchProgress }}%">
            <div class="progress-bar bg-success" style="width: {{ watchProgress }}%;"></div>
        </div>
    {% endif %}
</div>
