<a class="card text-reset text-decoration-none" href="{{ path("shows_show_page", {"show": show.id}) }}">
    <img class="card-img-top" loading="lazy" src="{{ path("shows_show_image", {"show": show.id}) }}"/>
    <div class="card-body">
        <h5 class="card-title text-truncate" title="{{ show.title }}">{{ show.title }}</h5>
        <small class="d-block">{{ "shows.count.seasons"|trans({"%count%": show.seasons|length}) }}</small>
        <small class="d-block">{{ "shows.count.episodes"|trans({"%count%": show.totalEpisodes}) }}</small>
        {% include "components/show-status-badge.twig" with {"status": show.status} only %}
    </div>
</a>
