{% set linkUrl = path("shows_show_page", {"show": show.id}) %}
<div class="card">
    <a href="{{ linkUrl }}">
        <img class="card-img-top rounded-top image-poster" loading="lazy" src="{{ path("shows_show_image", {"show": show.id}) }}"/>
    </a>
    <div class="card-body">
        <h5 class="card-title text-truncate" title="{{ show.title }}">
            <a href="{{ linkUrl }}" class="text-reset text-decoration-none">{{ show.title }}</a>
        </h5>
        <small class="d-block">{{ "shows.count.seasons"|trans({"%count%": show.seasons|length}) }}</small>
        <small class="d-block">{{ "shows.count.episodes"|trans({"%count%": show.totalEpisodes}) }}</small>
        {% include "components/show-status-badge.twig" with {"status": show.status} only %}
    </div>

    {% if app.user %}
        {% set watchProgress = show.getWatchProgress(watchStatsProvider) %}
        <div class="progress rounded-top-0 show-card-progress" title="{{ watchProgress }}%">
            <div class="progress-bar bg-success" style="width: {{ watchProgress }}%;"></div>
        </div>
    {% endif %}
</div>
