{% extends "user/page.twig" %}
{% from "components/macros.twig" import paginationContainer %}

{% macro paginationUrl(page, context) %}
    {{ path("userHistoryPage", {"username": context.user.username, "page": page}) }}
{% endmacro %}

{% block title %}{{ "user.history"|trans }} - {{ user.username }}{% endblock %}

{% block profileContent %}
    <h2>{{ "user.history"|trans }}</h2>

    {% if entries %}
        {{ paginationContainer(pagination, _self, _context) }}

        {% include "components/history-entry-list-small.twig" with {"entries": entries, "user": user} %}

        {{ paginationContainer(pagination, _self, _context) }}
    {% else %}
        <div class="alert alert-warning">{{ "user.no-history-available"|trans }}</div>
    {% endif %}
{% endblock %}