{% extends "page.twig" %}

{% macro navItem(path, parameters, title) %}
    <li class="nav-item">
        <a class="{{ html_classes("nav-link", {"active": app.request.get("_route") == path}) }}" href="{{ path(path, parameters) }}">{{ title }}</a>
    </li>
{% endmacro %}

{% block content %}
    <h1>{{ user.username }}</h1>

    <ul class="nav nav-underline mb-3">
        {{ _self.navItem("profilePage", {"username": user.username}, "user.profile"|trans) }}
        {{ _self.navItem("userHistoryPage", {"username": user.username}, "user.history"|trans) }}
        {{ _self.navItem("userShowProgressPage", {"username": user.username}, "user.show-progress"|trans) }}
    </ul>

    {% block profileContent %}{% endblock %}
{% endblock %}