{% set assetEntryPoint = "main" %}

{% extends "page.twig" %}

{% block title %}View profile - {{ user.username }}{% endblock %}

{% block content %}
    <h1>Profile</h1>
    <a href="{{ path("userHistoryPage", {"username": user.username}) }}">History</a>

    <h2 class="mt-3">Latest watched episodes</h2>

    {% if latestWatchedEpisodes %}
        <div class="row row-cols-1 row-cols-md-5 g-4">
            {% for view in latestWatchedEpisodes %}
                <div class="col">
                    {% set episode = view.episode %}
                    <div class="card">
                        <img class="card-img-top" src="{{ episode.posterImageUrl }}"/>
                        <div class="card-body">
                            <h5 class="card-title">
                                <b>{{ episode.season.number }}x{{ episode.number }}</b> {{ episode.title }}<br/>
                                <small>{{ episode.season.show.title }}</small><br/>
                                <small>{{ view.dateTime|format_date }}</small>
                            </h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning">No episodes available.</div>
    {% endif %}

    <h2 class="mt-3">Latest watched movies</h2>

    {% if latestWatchedMovies %}
        <div class="row row-cols-1 row-cols-md-5 g-4">
            {% for view in latestWatchedMovies %}
                <div class="col">
                    {% set movie = view.movie %}
                    <div class="card">
                        <img class="card-img-top" src="{{ movie.posterImageUrl }}"/>
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ movie.title }}<br/>
                                <small>{{ view.dateTime|format_date }}</small>
                            </h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning">No movies available.</div>
    {% endif %}
{% endblock %}