{% extends "user/page.twig" %}

{% block title %}{{ user.username }}{% endblock %}

{% block profileContent %}
    <h2>{{ "user.latest-watched-episodes"|trans }}</h2>

    {% if latestWatchedEpisodes %}
        {% include "components/history-entry-list-small.twig" with {"entries": latestWatchedEpisodes} %}
    {% else %}
        <div class="alert alert-warning">{{ "shows.no-episodes-available"|trans }}.</div>
    {% endif %}

    <h2 class="mt-3">{{ "user.latest-watched-movies"|trans }}</h2>

    {% if latestWatchedMovies %}
        {% include "components/history-entry-list-small.twig" with {"entries": latestWatchedMovies} %}
    {% else %}
        <div class="alert alert-warning">{{ "movies.no-movies-available"|trans }}</div>
    {% endif %}
{% endblock %}

{% block additional_content %}
    {% include "user/history/additional-content.twig" %}
{% endblock %}