{% extends "user/page.twig" %}

{% block title %}{{ "user.show-progress"|trans }} - {{ user.username }}{% endblock %}

{% macro episodeProgressBarItem(user, episode, watched, percentage) %}
    <div class="progress" role="progressbar" style="width: {{ percentage }}%" title="{{ episode }}">
        <a class="{{ html_classes("progress-bar", {"bg-success": watched, "bg-secondary": not watched}) }}" href="{{ path("shows_season_page", {"show": episode.season.show.id, "number": episode.season.number}) }}#e{{ episode.number }}"></a>
    </div>
{% endmacro %}

{% block profileContent %}
    <h2 class="mb-3">{{ "user.show-progress"|trans }}</h2>

    {% if shows %}
        <div class="row g-4">
            {% for show in shows %}
                <div class="col-12">
                    <div class="card">
                        <div class="row g-0">
                            <a class="col-md-4 scaled-image lazy-background show-progress-image" href="{{ path("shows_show_page", {"show": show.id}) }}" data-image-url="{{ path("shows_show_image", {"show": show.id}) }}"></a>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h3 class="card-title"><a class="text-reset text-decoration-none" href="{{ path("shows_show_page", {"show": show.id}) }}">{{ show.title }}</a></h3>
                                    <div class="card-text mt-3">
                                        {% set totalEpisodes = show.totalEpisodes %}
                                        {% set watchedEpisodes = 0 %}

                                        {% if totalEpisodes %}
                                            <div class="d-flex">
                                                <div class="progress-stacked w-100">
                                                    {% for season in show.seasons %}
                                                            {% set perEpisodePercentage = 100 / totalEpisodes %}
                                                            {% for episode in season.episodes %}
                                                                {% set watched = watchStatsProvider.getItemStats(episode)?.count > 0 %}
                                                                {% if watched %}
                                                                    {% set watchedEpisodes = watchedEpisodes + 1 %}
                                                                {% endif %}
                                                                {{ _self.episodeProgressBarItem(user, episode, watched, perEpisodePercentage) }}
                                                            {% endfor %}
                                                    {% endfor %}
                                                </div>

                                                <span class="mx-1 flex-shrink-1 progress-text-right">{{ ((watchedEpisodes / totalEpisodes) * 100)|round }}%</span>
                                            </div>
                                        {% endif %}

                                        <h4 class="my-3">{{ "shows.seasons"|trans }}</h4>

                                        <div class="show-progress-seasons">
                                            {% for season in show.seasons %}
                                                {% set totalEpisodes = season.episodes.count %}
                                                {% set watchedEpisodes = 0 %}

                                                {% if totalEpisodes %}
                                                    <div><a class="text-reset text-decoration-none" href="{{ path("shows_season_page", {"show": show.id, "number": season.number}) }}">{{ "shows.season"|trans({"%number%": season.number}) }}</a></div>

                                                    <div class="d-flex">
                                                        <div class="progress-stacked w-100">
                                                            {% set perEpisodePercentage = 100 / totalEpisodes %}

                                                            {% for episode in season.episodes %}
                                                                {% set watched = watchStatsProvider.getItemStats(episode)?.count > 0 %}
                                                                {% if watched %}
                                                                    {% set watchedEpisodes = watchedEpisodes + 1 %}
                                                                {% endif %}
                                                                {{ _self.episodeProgressBarItem(user, episode, watched, perEpisodePercentage) }}
                                                            {% endfor %}
                                                        </div>

                                                        <span class="mx-1 flex-shrink-1 progress-text-right">{{ ((watchedEpisodes / totalEpisodes) * 100)|round }}%</span>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning">{{ "shows.no-shows-available"|trans }}</div>
    {% endif %}
{% endblock %}
