{% extends "user/page.twig" %}
{% from "components/macros.twig" import episodesProgressBar %}

{% block title %}{{ "user.show-progress"|trans }} - {{ user.username }}{% endblock %}

{% block profileContent %}
    <h2 class="mb-3">{{ "user.show-progress"|trans }}</h2>

    {% if shows %}
        <div class="row g-4">
            {% for show in shows %}
                <div class="col-12">
                    <div class="card">
                        <div class="row g-0">
                            <a class="col-md-4 show-progress-image" href="{{ path("shows_show_page", {"show": show.id}) }}">
                               <img class="card-img image-poster" loading="lazy" src="{{ path("shows_show_image", {"show": show.id}) }}"/>
                            </a>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h3 class="card-title"><a class="text-reset text-decoration-none" href="{{ path("shows_show_page", {"show": show.id}) }}">{{ show.title }}</a></h3>
                                    <div class="card-text mt-3">
                                        {% set allEpisodes = show.allEpisodes %}
                                        {% if allEpisodes|length %}
                                            {{ episodesProgressBar(allEpisodes, watchStatsCollection) }}
                                        {% endif %}

                                        <h4 class="my-3">{{ "shows.seasons"|trans }}</h4>

                                        <div class="show-progress-seasons">
                                            {% for season in show.seasons %}
                                                {% if season.episodes|length %}
                                                    <div><a class="text-reset text-decoration-none" href="{{ path("shows_season_page", {"show": show.id, "number": season.number}) }}">{{ "shows.season"|trans({"%number%": season.number}) }}</a></div>

                                                    {{ episodesProgressBar(season.episodes, watchStatsCollection) }}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning">{{ "shows.no-shows-available"|trans }}</div>
    {% endif %}
{% endblock %}
